<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" media="screen" href="../css/styles.css")
        title Shop Details
    body
        header
            div(class="container")
                a(class="logo" href="/home" title="Babbelen")
                    img(id="headerLogo" src="../images/logo.png" title="Babbelen")
        h3 Edit Customer Details
        div(class="content")
            form(id="editCustomerDetails" action="/customers" method="POST")
                h4 GSTIN
                input(type="text" name="gstin" maxlength="15" value=`${data.gstin||""}`)
                h4 Shop Name
                input(type="text" name="customerName" value=`${data.customerName||""}`)
                h4 Address
                textarea(row="4" name="address" column="50") #{data.address||""} 
                h4 City
                input(type="text" name="city" value=`${data.city||""}`)
                h4 email
                input(type="text" name="email" value=`${data.email||""}`)
                h4 Mobile Number
                input(type="number" name="mobileNumber" value=`${data.mobileNumber||""}`)
                input(type="hidden" name="shopMobileNumber" value =`${data.shopId}`)
                br  
                button(onclick='document.getElementById("editCustomerDetails").submit();') Save
        