<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" media="screen" href="../css/styles.css")
        title Create Orders
        script(src="../script/orders.js")
        script(src="http://code.jquery.com/jquery-latest.min.js")
    body
        header
            div(class="container")
                a(class="logo" title="Babbelen")
                    img(id="headerLogo" src="../images/logo.png" title="Babbelen")
        div(class="content")
            if data.orderNumber
                h3 Order Number: B-#{data.orderNumber}
            form(id="createOrder" action=`${data.orderNumber ? "/orders/edit" : "/orders"}` method="POST")
                h4 Customer Mobile Number
                input(type="text" name="customerMobileNumber" value=`${data.customerMobileNumber||""}`)
                h4 Bill Date
                input(type="text" name="billDate" value=`${data.billDate||""}`)
                if data.orderNumber
                    input(type="hidden" id="productJSON" name="productJSON" value=`${JSON.stringify(data.productDetails)}`)
                    input(type="hidden" name ="orderNumber" value = `${data.orderNumber}`)
                if !data.orderNumber
                    input(type="hidden" id="productJSON" name="productJSON" value=``)
                input(type="hidden" id="order_summary" name="orderSummary")
                div
                if !data.orderNumber
                    button(type="button" onClick="document.getElementById('createOrder').submit();") Create Order
                if data.mode
                    button(type="button" onClick=`document.getElementById('createOrder').submit();`) Save Order
                else if !data.mode && data.orderNumber
                    button
                        a(href=`/orders/print?orderNumber=${data.orderNumber}`) Print Order
            h4(script onClick="toggleDivDisplay('orderSummary');") + Order Summary
            div(id="orderSummary" class ="summary-box" style="display:none;")
                div Total Value before GST : 
                    span(id="totalValueBeforeGST") #{data.orderSummary ? data.orderSummary.totalValueBeforeGST : '0.00'}
                div Total GST tax : 
                    span(id="totalGST") #{data.orderSummary ? data.orderSummary.totalGST : '0.00'}
                div SGST: 
                    span(id="sgst") #{data.orderSummary ? data.orderSummary.sgst : '0.00'}
                div CGST: 
                    span(id="cgst") #{data.orderSummary ? data.orderSummary.cgst : '0.00'}
                div Round off : 
                    span(id="roundOff") #{data.orderSummary ? data.orderSummary.roundOff : '0.00'}
                div Total value with GST : 
                    span(id="totalBeforeRoundOff") #{data.orderSummary ? data.orderSummary.totalBeforeRoundOff : '0.00'}
                div Total Amount : 
                    span(id="totalAfterRoundOff") #{data.orderSummary ? data.orderSummary.totalAfterRoundOff : '0.00'}

        if data.productDetails
            div(id="productList")
                each product, index in data.productDetails
                    div(class="summary-box" id=`product_${product.serial}`)
                        div
                            span(id=`edit_${product.serial}` class="underline" onClick=`editProduct(${product.serial});`) Edit
                            span(id=`remove_${product.serial}` class="right underline" onClick=`removeProduct(${product.serial});`) Remove
                        br
                        div(class="hsn-qty")
                            div(class="inline") HSN:
                                span(id=`hsn_${product.serial}`) #{product.hsn}
                            div(class="inline right") Qty:
                                span(id=`qty_${product.serial}`) #{product.qty}
                        div(class="product-details")
                            div(class="product-name")
                                b
                                    span(id=`name_${product.serial}`) #{product.productName}
                        div(class="inline") GST:
                            span(id=`gst_${product.serial}`) #{product.gstPercent}
                        div(class="inline right") Rate:
                                span(id=`rate_${product.serial}`) #{product.rate}
                        br
                        div(class="tax-total")
                            div SGST:
                                span(id=`sgst_${product.serial}`) #{product.sgstAmt}
                            div CGST:
                                span(id=`cgst_${product.serial}`) #{product.cgstAmt}
                            br
                            div Total:
                                span(id=`total_${product.serial}`) #{product.total}
                                span(id =`serial_${product.serial}` style = "display: none;") #{product.serial}

        if  !data.orderNumber || data.mode
            div(id="productList")
            h4(script id="products_add" onClick="addProducts(this);") + Add Products
            div(id="productForm" style="display:none;")
                h4 HSN
                input(type="text" id="hsn" name="hsn")
                h4 Product Name
                input(type="text" id="productName" name="productName")
                h4 Qty
                input(type="text" id="qty" name="qty" value="1" onfocusout="calculateTax();")
                h4 Rate
                input(type="text" id="rate" name="rate" onfocusout="calculateTax();")
                h4 GST Percent
                input(type="text" id="gstPercent" name="gstPercent" value="18" onfocusout="calculateTax();")
                h4 SGST amount
                input(type="text" id="sgstAmt" name="sgstAmount" disabled)
                h4 CGST amount
                input(type="text" id="cgstAmt" name="cgstAmount" disabled)
                h4 total
                input(type="text" id="total" name="total" disabled)
                input(type="hidden" id="serial" name="serial" value="" disabled)
                br
                button(id="add" onclick='formProductData();') Add
                button(id="edit" onclick='updateProductData();' style="display:none;") Update
                    