<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" media="screen" href="../css/styles.css")
        title Shop Details
        script(src="../script/shopDetails.js")
    body
        header
            div(class="container")
                a(class="logo" href="/home" title="Babbelen")
                    img(id="headerLogo" src="../images/logo.png" title="Babbelen")
        h3 Edit Shop Details
        div(class="content")
            form(id="editShopDetails" action="/shop" method="POST")
                h4 Mobile Number
                input(type="text" name="mobileNumber" value=`${data.mobileNumber||""}`)
                h4 Shop Name
                input(type="text" name="shopName" value=`${data.shopName||""}`)
                h4 Address
                textarea(row="4" name="address" column="50") #{data.address||""} 
                h4 City
                input(type="text" name="city" value=`${data.city||""}`)
                h4 gstin
                input(type="text" name="gstin" value=`${data.gstin||""}`)
                h4 email
                input(type="text" name="email" value=`${data.email||""}`)
                h4 Bank Name and Address
                input(type="text" name="bankName" value=`${data.bankName||""}`)
                h4 Bank Account Number
                input(type="text" name="accNo" value=`${data.accNo||""}`)

                br  
                button(onclick='document.getElementById("editShopDetails").submit();') Save
        